html {
  font-family: 'Droid Sans', sans-serif;
}

button {
  font-family: 'Droid Sans', sans-serif;
}

#mapContainerFlexWrapper {
  display: flex;
  height: 400px;
  margin: 10px;
}

#mapContainer {
  display: flex;
  width: 100%;
}

#searchBar {
  margin: 1px;
}

#birdList {
  margin: 1px;
}

#columnFlexContainer {
  display: flex
}

#columnFlexContainer > div {
  width: 50%;
}

.listElRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
  margin-right: 50px;
}

.mapMarker {
  font-size: 36px;
  color: red;
  transform: translate(-8px, -45%);
}
